.mobileMenu {
  transform: translateY(-100vh);
  transition: all 0.2s ease-in;
  &.active {
    transform: inherit;
  }
  .blur {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    backdrop-filter: blur(6px);
    z-index: 1;
  }
  .menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    width: 100vw;
    max-height: 500px;
    background-color: #2A3E84;
    z-index: 1;
    padding: 20px;
    border-radius: 0px 0px 40px 40px;
    transition: all 0.2s;

    .ul {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        .li {
            list-style-type: none;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            display: flex;
            align-items: center;
            color: #FFFFFF;
            cursor: pointer;
        }
    }
    .img {
      border-bottom: 1px solid #fff;
      img {
          width: 169px;
          height: 33px;
      }
  }
  }
}

