.wrapper {
    background: url("../../img/Subtract.svg") no-repeat;
    padding: 25px 9px 25px 10px;
    .name {
        margin-top: 16px;
        font-weight: 500;
        font-size: 24px;
        line-height: 120%;
        text-align: center;
        color: #FFFFFF;
    }
}