.wrapper {
    margin-top: 116px;
    padding-bottom: 190px;
    display: grid;
    column-gap: 24px;
    grid-template-columns: repeat(3, minmax(260px, 370px));
    grid-template-rows: repeat(3, auto);
    position: relative;
    width: 100%;
    .element {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .btn {
            margin: auto;
            display: block;
            width: 100%; 
            height: 72px;
            background: linear-gradient(180deg, #1FF2FF 0%, #27F9E5 52.66%, #2FFFCD 100%);
            border-radius: 8px;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            color: #0A1482;
            cursor: pointer;
            .link {
                width: 100%;
                display: block;
                padding: 20px;
            }
            &:hover {
                color: #3B48D0;
            }
            &:active {
                color: #FFFFFF;
            }
            &:disabled {
                opacity: 0.4;
            }
        }
        &.front {
            grid-column: 1/3;
        }
        &.develop {
            grid-column: 3/4;
            grid-row: 3/4;
            display: flex;
            justify-content: flex-end;
        }
        h1 {
            font-weight: 600;
            font-size: 150px;
            line-height: 120%;
            display: flex;
            align-items: center;
            color: #FFFFFF;
        }
        .descr{
            max-width: 360px;
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            display: flex;
            align-items: center;
            color: #FFFFFF;
        }
       
    }
}

.courses {
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.gradientRightPosition {
    top: 40%;
    right: -10%;
}

.gradientLeftPosition {
    top: 70%;
    right: 80%;
}

@media (max-width: 1550px) {
    .gradientRightPosition {
        right: 10%;
    }
}


@media (max-width: 1170px) {
    .wrapper {
        padding-top: 220px;
    margin: auto;
        .element {
            h1 {
                font-size: 120px;
            }
        }
    }
}

@media (max-width: 1110px) {
    .gradientRightPosition {
        right: 30%;
    }
    .gradientLeftPosition {
        display: none;
    }
}

@media (max-width: 975px) {
    .wrapper {
        grid-template-columns: minmax(260px, 870px);
        gap: 30px;
        .element {
            &:nth-child(2) {
                grid-row: 3/4;
            }
            &:nth-child(3) {
                grid-row: 4/5;
            }
            &.front {
                grid-column: inherit;
            }
            &.develop {
                grid-column: inherit;    
                grid-row: 5/6;
            }
            h1 {
                line-height: 90%;
            }
        }
    }
}

@media (max-width: 630px) {
    .wrapper {
        .element {
            h1 {
                font-size: 70px;
            }
        }
    }
}

