.gallery {
    padding-bottom: 194px;
    position: relative;
    .wrapper {
        margin-top: 48px;
        display: grid;
        grid-template-columns: 288px 600px 288px;
        grid-template-rows: repeat(3, auto);
        justify-content: center;
        gap: 24px;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #FFFFFF;
        .item {
            img {
                border-radius: 15px;
                object-fit: cover;
            }
            &:nth-child(1) {
                margin-top: 40px;
                grid-column: 1/2;
            }
            &:nth-child(2) {
                grid-column: 2/3;
                grid-row: 1/3;
            }
            
            &:nth-child(4) {
                grid-column: 3/4;
                grid-row: 2/2;
            }
            &:nth-child(5) {
                grid-column: 2/4;
                grid-row: 3/4;
            }
            &:nth-child(6) {
                grid-column: 1/2;
                grid-row: 2/4;
            }
        }
    }
}