.techno {
    
    padding-bottom: 180px;
    .subtitle {
        margin-top: 16px;
        max-width: 420px;
        margin: auto;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        color: #FFFFFF;
    }
    .cards {
        display: flex;
        margin-top: 54px;
        justify-content: center;
        align-items: center;
        gap: 24px;
        
    }
    
    
}

