.wrapper {
    margin-top: 116px;
    padding-bottom: 190px;
    display: grid;
    column-gap: 24px;
    grid-template-columns: repeat(3, minmax(260px, 370px));
    grid-template-rows: repeat(3, auto);
    .element {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        &.front {
            grid-column: 1/3;
        }
        &.develop {
            grid-column: 3/4;
            grid-row: 3/4;
            display: flex;
            justify-content: flex-end;
        }
        h1 {
            font-weight: 600;
            font-size: 150px;
            line-height: 120%;
            display: flex;
            align-items: center;
            color: #FFFFFF;
        }
        .descr{
            max-width: 360px;
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            display: flex;
            align-items: center;
            color: #FFFFFF;
        }
       
    }
}

.courses {
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}