.content {
    display: flex;
    padding-bottom: 180px;
    .wrapper {
        min-width: 606px;
        .title {
            margin-top: 56px;
            font-weight: 600;
            font-size: 32px;
            line-height: 120%;
            text-align: center;
            color: #FFFFFF;
        }
        .cards {
            display: flex;
            max-width: 606px;
            .card {
                margin-top: 186px;
                &:nth-child(2n) {
                    margin-top: 130px;
                }
                .name {
                    display: inline-block;
                    margin-top: 16px;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 120%;
                    text-align: center;
                    color: #FFFFFF;
                }
                .subtitle {
                    max-width: 185px;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 140%;
                    color: #FFFFFF;
                }
            }
        }
    }
    .descr {
        max-width: 468px;
        margin-top: 165px;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #FFFFFF;
    }
}