.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .ul {
        display: flex;
        gap: 48px;
        .li {
            list-style-type: none;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            display: flex;
            align-items: center;
            color: #FFFFFF;
        }
    }
    .img {
        img {
            width: 169px;
            height: 33px;
        }
    }
}