.steps {
    padding-bottom: 180px;

    .grid {
        margin-top: 56px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row: auto;
        row-gap: 37px;
        .next {
            display: flex;
            .card {
                // margin: 0 auto;
                padding: 20px;
                position: relative;
                width: 90%;
                max-width: 475px;
                padding: 24px;
                box-sizing: border-box;
                $border: 2px;
                color: rgb(0, 0, 0);
                background: #151936;
                background-clip: padding-box;
                border: solid $border transparent;
                border-radius: 18px;
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    z-index: -1;
                    margin: -$border;
                    border-radius: inherit;
                    background: linear-gradient(152.14deg, rgba(21, 191, 253, 0.7) 9.96%, rgba(156, 55, 253, 0.7) 100%);
                }
                &::after {
                    content: "";
                    position: absolute;
                    border-radius: 20px;
                    width: 24%;
                    right: -13px;
                    top: -13px;
                    bottom: -13px;
                    padding: 4px;
                    background: linear-gradient(90deg, rgba(21, 191, 253, 0) 15.03%, rgba(21, 191, 253, 0.7) 69.15%, rgba(156, 55, 253, 0.7) 97.95%);
                    
                    -webkit-mask:
                        linear-gradient(#fff 0 0) content-box,
                        linear-gradient(#fff 0 0);
                    -webkit-mask-composite: xor;
                    mask-composite: exclude;
                }
            }
    
            &:nth-child(2n+1) {
                grid-column: 1/2;
                justify-content: flex-start;
                position: relative;
                &::after {
                    content: "";
                    background: url("../icons/pointer.svg");
                    left: calc(100% - 90px);  
                    top: 50%;
                    transform: translateY(-50%);
                    // display: block;
                    position: absolute;
                    height: 24px;
                    width: 104px;

                }
                &::before {
                    content: "";
                    background: linear-gradient(180deg, #1FF2FF 0%, #27F9E5 52.66%, #2FFFCD 100%);
                    position: absolute;
                    height: calc(50% + 27px);
                    top: 50%;
                    width: 5px;
                    left: 100%;
                }
            }
    
            &:nth-child(2n+2) {
                position: relative;
                .card {
                    &::after {
                        transform: matrix(-1, 0, 0, 1, 0, 0);
                        left: -13px;
                        right: 0;
                    }
                }
                &::after {
                    content: "";
                    background: url("../icons/pointer.svg");
                    right: calc(100% - 94px);  
                    top: 50%;
                    transform: translateY(-50%) rotate(180deg);
                    // display: block;
                    position: absolute;
                    height: 24px;
                    width: 104px;
                }
                &::before {
                    content: "";
                    background: linear-gradient(180deg, #1FF2FF 0%, #27F9E5 52.66%, #2FFFCD 100%);
                    position: absolute;
                    height: 130%;
                    top: 50%;
                    width: 5px;
                    right: calc(100% - 5px);
                }
                &:last-child {
                    &:before {
                        height: 0px;
                    }
                }
                
                grid-column: 2/3;
                justify-content: flex-end;
            }

            .title {
                font-weight: 500;
                font-size: 24px;
                line-height: 120%;
                color: #FFFFFF;
            }

            .subtitle {
                margin-top: 18px;
                font-weight: 600;
                font-size: 32px;
                line-height: 120%;
                color: #FFFFFF;
            }

            .descr {
                margin-top: 16px;
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                color: #A2CBFB;
            }
    
        } 
    }
    }
    
