.steps {
    padding-bottom: 180px;
    .next {
        padding: 8px;
        width: 200px;
        // border: 5px solid;
        background-clip: padding-box, border-box;
        background-origin: border-box;
        border: 5px solid transparent;
        // border-radius: 50%;
        // border-radius: 1.75rem;
        border-image: linear-gradient(to right , transparent 70%, #adf2f7 100%);
        border-image-slice: 1;



        .wrapper {
            display: flex;
            align-items: center;
            width: 90%;
            max-width: 475px;
            position: relative;
            padding: 24px;
            box-sizing: border-box;
    
            $border: 2px;
            color: rgb(0, 0, 0);
            background: #151936;
            background-clip: padding-box; /* !importanté */
            border: solid $border transparent; /* !importanté */
            border-radius: 18px;
          
            &:before {
              content: '';
              position: absolute;
              top: 0; right: 0; bottom: 0; left: 0;
              z-index: -1;
              margin: -$border; /* !importanté */
              border-radius: inherit; /* !importanté */
              background: linear-gradient(152.14deg, rgba(21, 191, 253, 0.7) 9.96%, rgba(156, 55, 253, 0.7) 100%);
           
        }
    }
    
}
}

