.techno {
    
    padding-bottom: 180px;
    .subtitle {
        margin-top: 16px;
        max-width: 420px;
        margin: auto;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        color: #FFFFFF;
    }
    .cards {
        display: flex;
        margin-top: 54px;
        justify-content: center;
        align-items: center;
        gap: 24px;
        .wrapper {
            background: url("../img/Subtract.svg") no-repeat;
            padding: 25px 9px 25px 10px;
            .name {
                margin-top: 16px;
                font-weight: 500;
                font-size: 24px;
                line-height: 120%;
                text-align: center;
                color: #FFFFFF;
            }
        }
    }
    
    
}

