.header {
    padding: 40px 0;
    height: 815px;
    background-image: url('../../img/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .ul {
        display: flex;
        gap: 48px;
        .li {
            list-style-type: none;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            display: flex;
            align-items: center;
            color: #FFFFFF;
        }
    }
    .img {
        img {
            width: 169px;
            height: 33px;
        }
    }
}
}
.footer {
    margin-top: 156px;
    background: linear-gradient(152.14deg, rgba(21, 191, 253, 0.7) 9.96%, rgba(156, 55, 253, 0.7) 100%);
    padding-top: 1px;
    .content {
        padding: 33px 0;
        background: #151936;
    }
}